/* @import statement imports another css.
The url points to a stylsheet defining fonts for this stylesheet.*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap");

body {
	/* What is the difference between padding and margin?
	Margin is the space around an element's border, while padding is the 
	space between an element's border and its contemts. */
	padding: 0;
	margin: 0;
	height: 100vh;
	background: #2A2734;
	font-family: 'Poppins', sans-serif;
	/*The display property decides whether an element is treated as a block 
	or an inline element and the layout of its children in either flow layout, 
	flex or grid format.  
	property values: block, inline-block, none, grid, flex
	Todo: Add multiple items and see how they are arranged.*/
	display: flex;		
	/* The justify-content defines the way a browser distributes space between
	and around the content items along the main axis for a flex layout and 
	along the inline axis for a grid layout.
	Q. What are these axes? */
	justify-content: center;
	align-items: center; /**/
}

ul {
	display: flex;
}

li {
	/* The list-style property is a shorthand that allows you to set all the list 
	style properties at once.
	property values; square, inside, url, etc. */	
	list-style: none;
}

div {
	height: 80px;
	width: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 46px;
	/* The cursor property sets the mouse cursor, if any, to show when the mouse 
	pointer is over an element.
	property values: grab, help, wait, not-allowed, crosshair, zoom-in */
	cursor: pointer;
	margin: 0 4px;
	border-radius: 20px;
	color: yellow;
	/* The text-shadow property specifies a shadow drawn for text.
	parameters: x offset, y offset, blur radius, color 
	Multiple shadows can be specified, they are drawn one over another. */
	text-shadow: 0 0 15px yellow, 0 0 25px yellow;
	/* animation: animate 1.5s linear infinite; */
}

@keyframes animate {
	0% {
		/* The filter property applies graphical effects like, blur, color shift, 
		etc. to elements.
		property values: blur, hue-rotate, grayscale, contrast, url, drop-shadow */
		filter: hue-rotate(0deg);
	}
	100% {
		/* The hue-rotate function rotates the hue of an element by the specified
		angle. */
		filter: hue-rotate(360deg);
	}
}
	
